# Enigma OS BIOS boot (syslinux). Mirrors the systemd-boot UEFI entries in
# efiboot/loader/entries/. mkarchiso substitutes %ARCHISO_UUID% at build time
# and copies the syslinux COM32 modules (menu.c32, libutil.c32) from the
# syslinux package.

SERIAL 0 115200
UI menu.c32
PROMPT 0
MENU TITLE Enigma OS
TIMEOUT 100
DEFAULT enigma-install

LABEL enigma-install
  MENU LABEL Enigma OS (Install)
  LINUX /arch/boot/x86_64/vmlinuz-linux-cachyos
  INITRD /arch/boot/x86_64/initramfs-linux-cachyos.img
  APPEND archisobasedir=arch archisodevice=UUID=%ARCHISO_UUID% cow_spacesize=2G modprobe.blacklist=sp5100_tco,gpio_ich console=tty0 console=ttyS0,115200n8

LABEL enigma-live-amnesic
  MENU LABEL Enigma OS (Live - Amnesic)
  LINUX /arch/boot/x86_64/vmlinuz-linux-cachyos
  INITRD /arch/boot/x86_64/initramfs-linux-cachyos.img
  APPEND archisobasedir=arch archisodevice=UUID=%ARCHISO_UUID% cow_spacesize=2G modprobe.blacklist=sp5100_tco,gpio_ich console=tty0 console=ttyS0,115200n8

LABEL enigma-live-copytoram
  MENU LABEL Enigma OS (Live - Load to RAM)
  LINUX /arch/boot/x86_64/vmlinuz-linux-cachyos
  INITRD /arch/boot/x86_64/initramfs-linux-cachyos.img
  APPEND archisobasedir=arch archisodevice=UUID=%ARCHISO_UUID% copytoram cow_spacesize=2G modprobe.blacklist=sp5100_tco,gpio_ich console=tty0 console=ttyS0,115200n8
