[Desktop Entry]
Type=Application
Version=1.0
Name=Install Enigma OS
Comment=Install Enigma OS to this computer
Icon=calamares
Exec=/usr/local/bin/enigma-install
Terminal=false
Categories=System;
